body {
  background-image: url("https://wallpapercave.com/wp/wp462749.png");
  background-size: cover;
}

fieldset {
  height: 500px;
  border: 2px solid black;
  margin: 50px;
  line-height: 2;
  border-radius: 15px;
  padding: 50px 90px;
  background-color: darkgrey;
  box-shadow: 5px 5px 5px black;
}
label {
  margin-right: 20px;
}
button {
  margin-left: 20px;
  border-radius: 7px;
  border: none;
  background-color: magenta;
}
